html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    flex-shrink: 0;
    background-color: rgb(72 103 173);
    width: 100%;
    align-items: center;
}
.icons {
    margin: 5px;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}
.spacer {
    flex-grow: 1;
}
.search_input{
    flex-direction: column;
    width: 50%;
}

.search_input--box {
    width: 80%;
}
.search_input--icon {
    background-color: white;
    margin: -5px;
    width: 1.126em;
}
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu {
    display: flex;
    background-color: rgb(233, 235, 238);
    overflow-x: auto;
    width: 100%;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
    margin-right: 1em;
}
.menu_item > p {
    display: none;
}

.content {
    overflow-y: auto;
    max-width: 700px;
}

.posts {
    max-width: 100%;
    padding: 10px 0;
}

.adverts {
    display: none;
}

@media (min-width: 500px) {
    .search_input--icon {
        width: 1.15em;
    }
    .menu {
        justify-content: space-around;
    }
}

@media (min-width: 768px) {
    .menu_item > p {
        display: flex;
    }
    .search_input--icon {
        width: 1.15em;
    }
}

@media (min-width: 1024px) {
    .main {
        flex-direction: row;
    }
    .menu {
        display: flex;
        flex-direction: column;
        width: 10%;
        justify-content: flex-start;
    }
    .content {
        flex-direction: column;
        display: flex;
        flex-shrink: 0;
    }
    .adverts {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        min-width: 100px;
        margin: 1.3em;
    }
}

@media (min-width: 1200px) {
    .adverts {
        margin: 3em;
    }
}

/* https://icons8.com */