html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    flex-shrink: 0;
    background-color: rgb(72 103 173);
    width: 100%;
    align-items: center;
    padding: 5px;
}
/* 
.icons {

} */
.menu_item > p {
    display: none;
}
.search_input{
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.search_input--box {
    flex: 1;
    width: 80%;
}
.search_input--icon {
    background-color: white;
    flex: 1;
}
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: row;
    background-color: rgb(233, 235, 238);
    overflow-x: auto;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

/* .menu_item {
} */

.content {
    height: auto;
    overflow-y: auto;
}

.posts {
    width: 100%;
    padding: 10px 0;
}

@media (min-width: 768px) {
    .menu_item > p {
        display: flex;
    }
    .search_input--box {
        flex: 1;
        width: 60%;
    }
}

@media (min-width: 1024px) {
    .main {
        flex-direction: row;
    }
    .menu {
        display: flex;
        width: 10%;
        flex-direction: column;
        overflow-y: auto;
        justify-content: center;
    }
    .content {
        flex-direction: column;
        display: flex;
        flex-shrink: 0;
    }
    .search_input--box {
        flex: 1;
        width: 40%;
    }
}

@media (min-width: 1200px) {

}

/* https://icons8.com */